a {
  display: block;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.full1-img {
  width: 100%;
  height: 100vh;                 
  background-image: url('1.jpg');
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat; 
}
.small1-img {
	position: absolute;
  top: 9.2%; 
  left: 38%;
  width: 310px; /* 너 원하는 크기로 조절 */
  z-index: 10; /* 배경보다 앞에 나오게 */
  background: orange;

}
.small1-img:hover {
  filter: hue-rotate(-50deg) saturate(3);
  transition: 0.3s;
}

.small2-img {
	position: absolute;
  top: 30%; 
  left: 44%;
  width: 60px; /* 너 원하는 크기로 조절 */
  z-index: 10; /* 배경보다 앞에 나오게 */
  background: orange;

}
.small2-img:hover {
  filter: hue-rotate(-50deg) saturate(3);
  transition: 0.3s;}

.small3-img {
	position: absolute;
  top: 30%; 
  left: 48.5%;
  width: 60px; /* 너 원하는 크기로 조절 */
  z-index: 10; /* 배경보다 앞에 나오게 */
  background: orange;

}
.small3-img:hover {
  filter: hue-rotate(-50deg) saturate(3);
  transition: 0.3s;}

 .small4-img {
	position: absolute;
  top: 72%; 
  left: 79.8%;
  width: 80px; /* 너 원하는 크기로 조절 */
  z-index: 10; /* 배경보다 앞에 나오게 */
  background: orange;

}
.small4-img:hover {
  filter: hue-rotate(-50deg) saturate(3);
  transition: 0.3s;}
