* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.full1-1img {
  width: 100%;
  height: 100vh;                 
  background-image: url('1.jpg');
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat; 
}
